 * {
  margin: 0;
  padding: 0;
}
 

html,
body {
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: radial-gradient(circle at 100%, #333, #333 50%, #eee 75%, #333 75%);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
}


.content {
  margin-top: 60px;
  overflow: auto;

  h1 {
    font-size: 8vh;
    text-shadow:
    4px 4px 0px #010691,
    7px 7px 0px rgb(92, 48, 48),
    11px 11px 0px #0106917c,
    14px 14px 14px rgba(225, 2, 2, 0.256),
  }

#aboutme,
#portfolio,
#stacks,
#contact
 {
  text-align: center;
  display: block;
  font-size: 3vh;
}

}

.container nav.desk,
.container nav.mob{
  position: fixed;
  top: 0;
	left: 0;
  width: 100%;
  background: #393d3e;
	height: 60px;
	perspective: 1000px;
}

@media screen and (max-width: 700px) {
  nav.desk {
    display: none;
  }
 

  nav.mob,
  .button {
    display: block;
	}
	
   
  .button {
    position: relative;
	}
	
 
  .button .fa-caret-square-down,
  .button .fa-caret-square-up {
    position: fixed;
    right: 25px;
    top: 15px;
    font-size: 35px;
    color: #fff;
    cursor: pointer;
	}
	
 
  .mob ul{
    margin-top: 40px;
    background: #364a4b;
    display: none;
  }
 

  .mob li {
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
    cursor: pointer;
  }
	 
	
  .mob ul.active {
    display: block;
  }
}


@media screen and (min-width: 700px) {
 
nav.desk ul {
  list-style: none;
  width: 60%;
	height: 60px;
	margin: 0 auto;
	text-align: center;
}
 
nav.desk ul li {
  width: 20%;
  float: left;
  line-height: 60px;
	transition: all 0.3s ease;
  transform-style: preserve-3d;
}
 
nav ul li:hover {
  background: transparent;
	transform: rotateY(60deg);
  transform: rotateX(60deg);

}
 

a {
  color: #fff;
  text-decoration: none;
}
 
 
.mob,
.button {
  display: none;
}







form {
  margin-top: 50px;
  transition: all 4s ease-in-out;
}

.form-control {
  width: 600px;
  background: transparent;
  border: none;
  outline: none;
  border-bottom: 1px solid gray;
  color: black;
  font-size: 18px;
  margin-bottom: 16px;
}

input {
  height: 45px;
}

form .submit {
  background: red;
  border-color: transparent;
  color: white;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 50px;
  margin-top: 20px;
}

form .submit:hover {
  background-color: purple;
  color: yellow;
}

}